#menubar {
    background-color: #ff8c00;
    
    margin-right: 0;
    height: 50px;

  }
  #menubar ul {
    
    text-align: center center;
  
    width: 100vm;
    height: 50px;
 margin: 0;
 margin-bottom: 20px;
    
  }
  #menubar ul li {
    display: inline-block;
    list-style-type: square;
    padding: 0 15px;
    padding-top: 10px;
  }
  #menubar ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
  }
  #category {
    background: #ff8c00;
    color: white;
    border: none;
  }

  #table {
    width: 100vh;
    height: 700px;
  }

  #img {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 40px;
   
    margin-top: 140px;
  }

  #img img {
    width: 300px;
    height: 300px;
  }




  .centered {
 
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: 220px;
   
    margin-top: 140px;
    font-size: large;
  

  }
  #meth {
    font-size: medium;
    background:none;
    text-align: start;
    color:white;
    display: inline-block;
    margin:40px;
                  
                }
.bot{
  width: 100vm;
  height: 100px;
  padding-left: 40%;
  margin-right: 0;
margin-top: 40px;
position: absolute;
}

  img {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    padding: 0px;
    
    box-shadow: 5px 5px 5px black, 5px 5px 5px blue, 5px 5px 5px darkblue;
  }
  td {
    margin: 0px;
    padding-left: 48px;
    padding-top: 70px;
  }
  img:hover {
    width: 250px;
    height: 250px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    height: 100 vh;
    background-color: none;
    display: flex;
    
   
    
  }

  .swiper {
    width: 100%;
    height: fit-content;
  }
  .swiper-slide img {
    width: 100%;
    height: 300px;
  

  }
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    color: blueviolet;
   
  }
  .swiper .swiper-pagination-bullet-active {
    background: white;
  }
  body{
    background: linear-gradient(45deg,rgb(76,0,255),transparent),
    repeating-linear-gradient(45deg,rgb(183,0,255)0%,rgb(183,0,255)5%,transparent 5%,transparent 10%),
    rgb(216,118,255) repeating-linear-gradient(-45deg,rgb(183,0,255,0.5)0%,rgb(183,0,255,0.5))
  }
  #footer{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    border: 1px solid black;
  }
  *{
    margin:0;
  }
  #sec{
    width: 100vm;
    height: 1850px;
    
  }
